<!-- GE05 -->
<!-- displays information about a specific student's portfolio, accessed by URL "portfolio_app/portfolio/<id>" -->
<!-- <id> is primary key (pk) for student -->

<!-- source: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Generic_views#book_detail_page -->


{% extends 'portfolio_app/base_template.html' %}
{% block content %}

<!-- display the Portfolio title -->
<h1>Portfolio Title: {{ portfolio.title }}</h1>


<!-- display portfolio info with bold text label -->
<p>
    <strong>Active:</strong> {{ portfolio.is_active }} <br>
    <strong>About:</strong> {{ portfolio.about }}<br>
    <strong>Contact Email:</strong> {{ portfolio.contact_email }} <br>
</p>

<!-- display list of projects -->
<h2>Projects:</h2>

<!-- Add button to create new projects -->
<a class="btn btn-primary" href="{% url 'create_project' portfolio.id %}" role="button"> New Project </a>

<!-- Check if project list exists -->
{% if portfolio.project_set %}
<ul>
    <!-- for each project in the list -->
    {% for project in portfolio.project_set.all %}
    <li>
        <!-- create list item for each project that shows the detailed record view and shows project title -->
        <!-- Add button to view projects -->
        {{ project.title }}:  
        <a class="btn btn-primary" href="{{ project.get_absolute_url }}" role="button"> View Project </a>
        <a class="btn btn-danger" href="{% url 'delete_project' portfolio.id project.pk %}" role="button"> Delete </a>
        <a class="btn btn-warning" href="{% url 'update_project' portfolio.id project.pk %}" role="button"> Update </a>
    </li>

    <!-- if no projects in list -->
    {% empty %}
    <p> There are no projects. </p>

    {% endfor %}
</ul>
<!-- no project list exists -->
{% else %}
<!-- print msg -->
<p> There are no projects. </p>

{% endif %}



{% endblock %}