<!-- GE05 -->
<!-- displays information about a specific student, accessed by URL "portfolio_app/student/<id>" -->
<!-- <id> is primary key (pk) for student -->

<!-- source: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Generic_views#book_detail_page -->


{% extends 'portfolio_app/base_template.html' %}
{% block content %}

<!-- display the student's name -->
<h1>Student Name: {{ student.name }}</h1>

<!-- display student info with bold text label -->
<p><strong>Email:</strong> {{ student.email }}</p>
<p><strong>Major:</strong> {{ student.major }}</p>
<p><strong>Portfolio:</strong> <a href="{{ student.portfolio.get_absolute_url }}">{{ student.portfolio.title }} </a></p>

{% endblock %}
